{% extends "base.html" %} {% load static %} {% block content %}

<section class="scroll" id="home-top">

  <div class="page-container">
    <div class="row" id="home-top-container">

      <div class="col-lg-4"></div>

      <div id="home-text" class="col-lg-8">
        <img id="header-logo" src="{% static 'img/showfiler-final-white-text.png' %}" alt="SHOWFILER">
        <h4 class="text-white">Web-based products and solutions for event professionals.</h4>
        <!-- <button class="btn sf-btn-primary" type="button" name="button">Learn More</button> -->
      </div>
  </div>
  </div>

</section>


  <section class="scroll" id="home-ideas">
    <div class="container page-container" id="idea-container">

      <div class="container" id="idea-box">
        <div class="row">
          <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="idea-text-box">
          <h2 class="">GOT AN IDEA?</h2>
          <h3>Let us help you bring your vision to life! We offer development services and consultation for any problem in the event planning process. Simplify your processes, so you can focus on what really matters.</h3>
          <!-- <button class="btn sf-btn-primary" type="button" name="button">Learn More</button> -->
          </div>
        </div>
      </div>

    </div>

</section>

<section class="scroll" id="home-contact">
  <div class="page-container" id="contact-container">
    <div class="owl-carousel" id="contact-carousel">

      <div class="contact-shadow">

      <div class="container contact-box shadow-box">
        <div class="circle circle-red"></div>
        <div class="circle circle-yellow"></div>
        <div class="circle circle-green"></div>
        <div class="contact-text">
        <h2>COMING SOON!</h2>
        <h3>Sign up to be the first to receive info on our first web app for event organizers, launching this year!<h3>
        <!-- MC Form -->
        <div class="contact-form">
          <form action="https://showfiler.us15.list-manage.com/subscribe/post?u=9d68a78495c3c165f95900248&amp;id=7672fd8f22" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="form-inline justify-content-center">
          	   <input class="form-control contact-email" type="email" value="" name="EMAIL" class="email" placeholder="email address" required>
               <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
               <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9d68a78495c3c165f95900248_7672fd8f22" tabindex="-1" value=""></div>
               <div class="form-submit"><input type="submit" value="sign up" name="subscribe" class="btn sf-btn-primary"></div>
              </div>
            </form>
        </div>
        </div>
      </div>
    </div>

      <div class="container contact-box shadow-box">
        <div class="circle circle-red"></div>
        <div class="circle circle-yellow"></div>
        <div class="circle circle-green"></div>
        <div class="contact-text">
        <h2>COMING SOON!</h2>
        <h3>Sign up to be the first to receive info on our web app for event organizers, launching this year!<h3>
        <!-- MC Form -->
        <div class="contact-form">
          <form action="https://showfiler.us15.list-manage.com/subscribe/post?u=9d68a78495c3c165f95900248&amp;id=7672fd8f22" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="form-inline justify-content-center">
               <input class="form-control contact-email" type="email" value="" name="EMAIL" class="email" placeholder="email address" required>
               <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
               <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9d68a78495c3c165f95900248_7672fd8f22" tabindex="-1" value=""></div>
               <div class="form-submit"><input type="submit" value="sign up" name="subscribe" class="btn sf-btn-primary"></div>
              </div>
            </form>
        </div>
        </div>
      </div>

      <div class="container contact-box shadow-box">
        <div class="circle circle-red"></div>
        <div class="circle circle-yellow"></div>
        <div class="circle circle-green"></div>
        <div class="contact-text">
        <h2>COMING SOON!</h2>
        <h3>Sign up to be the first to receive info on our web app for event organizers, launching this year!<h3>
        <!-- MC Form -->
        <div class="contact-form">
          <form action="https://showfiler.us15.list-manage.com/subscribe/post?u=9d68a78495c3c165f95900248&amp;id=7672fd8f22" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="form-inline justify-content-center">
               <input class="form-control contact-email" type="email" value="" name="EMAIL" class="email" placeholder="email address" required>
               <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
               <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9d68a78495c3c165f95900248_7672fd8f22" tabindex="-1" value=""></div>
               <div class="form-submit"><input type="submit" value="Sign Up" name="subscribe" class="btn sf-btn-primary"></div>
              </div>
            </form>
        </div>
        </div>
      </div>

  </div>
</section>

{% endblock %}
